.page {
  background-color: #f5f5f5;
}

.header {
  height: 13rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 20;

  .up {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .avatar {
      width: 30%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;

      .name {
        font-size:36rpx;
        color: #ffffff;
        margin-top: 0.2rem;
        margin-left: 1rem;
      }
      .motto {
        font-size: 24rpx;
        color: #ffffff;
        margin-top: 0.5em;
        margin-left: 1rem;
      }
    }

    .level{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding-top: 50rpx;
        align-items:start;

       .levelText{
        font-size: 28rpx;
        color: #ffffff;
       }
      }
    }


  .center {
    height: 15%;
    width: 100%;
    display: flex;
    flex-wrap: 1;
    padding: 10rpx 30rpx;

   .item {
      display:flex;
      justify-content: center;
      align-items: center;
      margin: 0.1rem;
   }
  }

  .down {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    .down-item{
      width: 20%;
      height: 100%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .text1{
        font-size: 28rpx;
        color: #ffffff;
       }
      .text2{
        font-size: 20rpx;
        color: #ffffff;
       }
      }
      .change{
        width: 40%;
        height: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
       }
      }
  }

  .cardList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;  // 允许换行
    gap: 4%;  // 控制 card 之间的间距
    padding: 4%;
    border-radius: 50rpx;
    overflow: hidden;  // 如果 card 贴边，确保内容不会溢出

  .card {
    width: 44%;  // 每个卡片占据一半宽度，留一点间距
    height: 400rpx;  // 根据需要调整高度
    background-color: #ffffff;
    border-radius: 20rpx;
    margin-bottom: 30rpx;  // 控制 card 之间的间距
  }
}

  .mask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 10;
  }
