.btn-can-move {
  width: 120rpx;
  height: 120rpx;
  background-color: #6190e8;
  border-radius: 50%;
  box-shadow: 0 4rpx 16rpx rgba(97,144,232,0.18);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 80rpx;
  font-weight: bold;
  position: fixed;
  user-select: none;
  cursor: pointer;
  transition: top linear 0.03s, left linear 0.03s;
  z-index: 9999;
}

