.page {
  background-color: #ffffff;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 20rpx 5%;
  background-color: #ffffff;
  font-size: larger;
}

.scroll-container {
  width: 100%;
  overflow-x: auto; // 允许横向滚动
  white-space: nowrap; // 禁止换行
  -webkit-overflow-scrolling: touch; // iOS 兼容
  background-color: #ffffff;
}

.scroll-content {
  display: flex; // 让 Card 横向排列
  flex-wrap: nowrap; // 禁止换行
  gap: 10px; // 让 Card 之间有间距
  min-width: max-content; // 确保内容不会折行
  padding: 0 15rpx;
}

.card {
  width: 300rpx;
  height: 150rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 20rpx;
  margin: 10rpx 15rpx;
  overflow: hidden;
  box-shadow: 4rpx 4rpx 10rpx rgba(0, 0, 0, 0.1); // 添加阴影

  .card-picture {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30rpx;
    color: #ffffff;
    padding: 5rpx 0;

    .card-title {
      width: 100%;
      height: 25rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25rpx;
      color: #000000;
    }

    .card-label {
      width: 100%;
      height: 25rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25rpx;
      color: #000000;
    }
  }
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10rpx 0;
  padding-top: 20rpx;
  padding-bottom: 20rpx;
  background-color: #ffffff;

  .answer-header {
    width: 100%;
    height: 50rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10rpx 0;

    .answer-avatar {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .answer-text {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .answer-name {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        font-size: 28rpx;
      }

      .answer-time {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        font-size: 24rpx;
      }
    }

    .answer-more {
      width: 30%;
      height: 100%;
      display: flex;
      align-items:center;
      justify-content: center;
    }
  }

  .answer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20rpx 0;

    .answer-title {
      width: 90%;
      display: flex;
      font-size: 28rpx;
      color: #000000;
      margin: 10rpx 0;
    }

    .answer-label {
      width: 90%;
      display: flex;
      font-size: 28rpx;
      border-radius: 30rpx;
      color: #000000;
      background-color: #e1c038;
      padding: 20rpx 20rpx;
    }
  }

  .answer-tag {
    width: 94%;
    height: 50rpx;
    display: flex;
    align-items: center;
    gap: 10rpx;
  }

.follow-btn {
  padding: 3rpx 20rpx;
  font-size: 30rpx;
  border-radius: 36rpx;
  border: none;
  background-color: #07a81f;
  color: #ffffff;
}
}
